.listTitle {
    border: 1px dotted #A1B1DD;
    background-color: #C1C1C1;
    font-size: 22px;
    color: #98BC56;
}

.field {
    padding: 5px 15px;
    border-radius: 3px;
    border: 1px solid #C1C1C1;
    outline: 0;
    display: block;
    margin-bottom: 20px;
}

.label {
    font-size: 14px;
    font-family: Arial;
    color: #565656;
}
